[Unit]
Description=Gargoyle USBGuard bootstrap
After=local-fs.target
Before=usbguard.service
Wants=usbguard.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gargoyle-usbguard

[Install]
WantedBy=multi-user.target
