# Example config for Gargoyle
system:
  ram_limit_mb: 2048
  cpu_limit: 2
  locale: "ru"
  edition: "public"

storage:
  persistent: true
  shared: false
  recovery_codes: "recovery_codes.txt"
  usb_enabled: false
  usb_read_only: false
  ram_only: false

network:
  proxy: ""
  mode: "direct"
  vpn_type: ""
  vpn_profile: ""
  gateway_ip: ""
  proxy_engine: "" # sing-box|xray
  proxy_config: ""
  dns_profile: "system" # system|xbox|custom
  dns_custom: ""
  doh_url: ""
  doh_listen: "127.0.0.1:5353"
  tor: false
  tor_always_on: false
  tor_strict: false
  mac_spoof: true
  wifi_enabled: true
  bluetooth_enabled: false
  ports_open: false

security:
  identity_key_path: "keys/identity.key"
  identity_length: 256
  identity_group: 15

mesh:
  relay_url: ""
  onion_depth: 3
  metadata_level: "standard"

emulate:
  privacy_mode: true
  temp_dir: "ram"
  downloads_dir: "downloads"

tunnel:
  type: "frp" # frp|relay
  server: ""
  token: ""

mail:
  mode: "local" # local|tunnel
  sink: true
  local_server: true
  sink_listen: "127.0.0.1:1025"
  sink_ui: "127.0.0.1:8025"

ui:
  theme: "dark"
  language: "ru"


